<style>
  .logo:hover{
    filter: drop-shadow(-1px -1px 8px #000000);
    transition-duration: 1s;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}


.navbar-brand{
    color: #fff;
}
.icone-pesquisa{
    color: #fff;
}

.icon
.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}




.header{
    background-color: #800000;;
}
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

h1{
    margin-bottom: 0 !important;
}
.text-image{
    background-color: rgba(185, 2, 2, 0.9)
}
/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

li{
    margin-right: 2%;
}

.nav-item a{
    color: #B59524 !important;
}

.sufle{
    background-image: url(comidas/sufle.jpg);
    background-size: 100% 100%;
    
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-imagem{
    width: 100%;
    text-align: center  
}

.ad-imagem > img{
    width:40%;  
}

.btn-receita{
    background-color: #800000;
    padding: 2%;
    color: #fff;
    border: 1px solid #800000;
    border-radius: 10%;
    font-weight: bold
}

.texto-principal{
    position: relative;
    top: 20%;
    text-align: center
}
.recentes{
    width: 100%;
    text-align: center;
    background-color: #800000;
    color: #fff;
}

h4{
    font-size:1.2rem;
    text-align: center;
}
.bolo{
    color:#4A2525;
}
.frango{
    color:#B59524;
}
.card-img-top{
    height: 10rem;
}
.titulo-receita{
    text-align: center;
}
.active > a{
    color: #800000 !important;
    text-shadow: 0.5px 0.5px 0.5px red;
}
.nav-link:hover{
    color: #800000 !important;
}

.video{
    width: 98%;
    text-align: center;
    margin-top: 2%; 
}

.sessao-um{
    width: 15rem;
    background-image: url(comidas/batata.jpg);  
}
.sessao-dois{
    width: 15rem;
    background-image: url(comidas/strogonoff-de-berinjela.jpg);  
}
.texto-dois{
    background-color: #fff;
    text-align: center
}
/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}
.conteudo{
    padding: 2%;
    max-width: 1300px;
    margin: 0 auto;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


@media (max-width: 900px){
    .sufle{
        width: 100%;
    }
    

}
</style>
<nav class="navbar header"> 
          <a class="btn btn-sm btn-outline-light" href="#">Mande sua receita</a><%= image_tag("logo2.png", :alt => "rss feed") %>
          <a class="navbar-brand" href="#"><img src="logo2.png" width="150" height="80" alt="#" class="logo"></a>
          <a class="icone-pesquisa" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
      </nav>

      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carnes</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="bovina.html.erb" onclick="">Bovina</a>
                          <a class="dropdown-item" href="frango.html.erb">Frango</a>
                          <a class="dropdown-item" href="peixe.html.erb">Peixe</a>
                         
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doces e sobremesas</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">Caldas</a>
                          <a class="dropdown-item" href="#">Bolos</a>
                          <a class="dropdown-item" href="#">Doces de festa</a>
                          <a class="dropdown-item" href="#">Mousses</a>
                          <a class="dropdown-item" href="#">Pudins</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="#">Fitness </a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hortifruti</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">Frutas</a>
                          <a class="dropdown-item" href="#">Hortaliças</a>
                          <a class="dropdown-item" href="#">Legumes</a>  
                          <a class="dropdown-item" href="#">Verduras</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Massas</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">Pães</a>
                          <a class="dropdown-item" href="#">Tortas</a>  
                          <a class="dropdown-item" href="#">Outras</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Saudáveis</a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="#">Rápidas</a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="#">Veganas</a>
                  </li> 
              </ul>
          </div>
      </nav>
      <div class="conteudo">
        <%= image_tag("logo2.png", :alt => "rss feed") %>
        <%= image_tag("./logo2.png", :alt => "rss feed") %>
        <%= image_tag("../assets/logo2.png", :alt => "rss feed") %>
          <div class="row">
              <div class="col-md-8">
              <div class="jumbotron 8 sufle">
                  <div class="col-md-8 px-0 texto-principal">
                      <h1 class="font-italic text-image text-white">SUFLÊ DE LEGUMES</h1>
                      <p class="texto-dois">Suflê de legumes com água de coco</p>
                      <a href="https://veganapratica.com/sufle-de-legumes-com-leite-de-coco/" >veja a receita</a>
                  </div>
                  </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <div class="ad-imagem">
                          <img src="anuncio.png" alt="Anuncio">
                      </div>
                      <div class="card-body">
                          <p class="card-text">Colocar anúncio aqui</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <button type="button" class="btn btn-sm btn-outline-warning">Clique aqui</button>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <div class="ad-imagem">
                          <img src="anuncio.png" alt="Anuncio">
                      </div>
                      <div class="card-body">
                          <p class="card-text">Colocar anúncio aqui</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <button type="button" class="btn btn-sm btn-outline-warning">Clique aqui</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                          <strong class="d-inline-block mb-2 text-warning">Hortifruti </strong>
                          <h3 class="mb-0">Batata assada</h3>
                          <div class="mb-1 text-muted">Por: Receitas Gshow</div>
                          <p class="card-text mb-auto">Batata assada básica e crocante.</p>
                           <a href="https://gshow.globo.com/receitas-gshow/receitas/como-fazer-batata-assada-crocante-53fd0b894d38853c3600005a.ghtml" class="stretched-link text-warning">Veja a receita</a>
                      </div>
                      <div class="col-auto d-none d-lg-block sessao-um" >
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="row no-gutters border rounded overflow-hidden shadow-sm h-md-250">
                      <div class="col p-4 d-flex flex-column position-static">
                          <strong class="d-inline-block mb-2 text-success">Veganas</strong>
                          <h3 class="mb-0">Strogonoff de Berinjela</h3>
                          <div class="mb-1 text-muted">Ariana Pazzini</div>
                          <p class="mb-auto">Sugestão de prato principal usando vegetais.</p>
                          <a href="receitas/strogonoff-de-berinjela.html" class="stretched-link text-success">Veja a receita</a>
                      </div>
                      <div class="col-auto d-none d-lg-block sessao-dois" >
                      </div>
                  </div>
              </div>
          </div>
          <main role="main" >
              <h2 class="recentes"> Recentes</h2>
              

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="comidas/bolo-de-cenoura.jfif" alt="Bolo de cenoura com cobertura de chocolate">
                <div class="card-body">
                    <h4 class="bolo">Bolo de cenoura</h4>
                  <p class="card-text">Bolo de cenoura com cobertura de chocolate</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <button type="button" class="btn btn-sm btn-danger">Ver receita</button>
                      <small class="text-muted">40 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="comidas/fricasse.jfif" alt="Card image cap">
                <div class="card-body">
                  <h4 class="frango">Fricassê de frango</h4>
                  <p class="card-text">Molho com creme de leite, milho, requeijão, azeitona...</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-danger">Ver receita</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="comidas/bolo-de-banana.jfif" alt="Card image cap">
                <div class="card-body">
                  <h4 class="frango">Bolo de banana integral</h4>
                  <p class="card-text">Bolo de banana com farinha de trigo integral...</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-danger">Ver receita</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </main>
</div>
<footer class="blog-footer">
  <p>
    <a href="#">Voltar para o topo</a>
  </p>
</footer>